<% content_for :with_direction_toggle, true %>

<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center mb-4">句一覧</h1>
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="card mb-3">
          <%= link_to post_path(post), class: "text-decoration-none", data: { turbo: false } do %>
            <div class="card-body">
              <% if post.theme.present? %>
                <div class="mb-4">
                  <% if post.theme.image.attached? %>
                    <div class="image-container-small">
                      <%= image_tag post.theme.image, class: "w-100 rounded-lg theme-image-small" %>
                    </div>
                  <% end %>
                  <p class="mt-2 text-muted"><%= post.theme.description %></p>
                </div>
              <% elsif post.image_post&.image.present? %>
                <div class="mb-4">
                  <div class="image-container-small">
                    <%= image_tag post.image_post.image, class: "w-100 rounded-lg theme-image-small" %>
                  </div>
                  <% if post.image_post.description.present? %>
                    <p class="mt-2 text-muted"><%= post.image_post.description %></p>
                  <% end %>
                </div>
              <% end %>
              
              <div class="d-flex justify-content-between align-items-start mb-2">
                <div class="tags">
                  <% post.tags.each do |tag| %>
                    <span class="badge bg-primary me-1"><%= tag.name %></span>
                  <% end %>
                  <% if logged_in? && current_user == post.user %>
                    <span class="badge bg-success me-1">自分が詠んだ句</span>
                  <% end %>
                </div>
                <small class="text-muted"><%= l post.created_at, format: :long %></small>
              </div>
              <%= render partial: 'posts/post_content', locals: { content: post.display_content } %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-muted">投稿された句はありません。</p>
    <% end %>

    <div class="mt-4">
      <%= paginate @posts %>
    </div>
  </div>
</div>