<div class="card">
  <div class="list-group list-group-flush">
    <%= link_to admin_root_path,
        class: "list-group-item list-group-item-action #{current_page?(admin_root_path) ? 'active' : ''}" do %>
      ダッシュボード
    <% end %>

    <%= link_to admin_users_path,
        class: "list-group-item list-group-item-action #{controller_name == 'users' ? 'active' : ''}" do %>
      ユーザー管理
    <% end %>

    <%= link_to admin_posts_path,
        class: "list-group-item list-group-item-action #{controller_name == 'posts' ? 'active' : ''}" do %>
      句の管理
    <% end %>

    <%= link_to admin_themes_path,
        class: "list-group-item list-group-item-action #{controller_name == 'themes' ? 'active' : ''}" do %>
      お題の管理
    <% end %>

    <%= link_to admin_contacts_path,
        class: "list-group-item list-group-item-action #{controller_name == 'contacts' ? 'active' : ''}" do %>
      お問い合わせ管理
    <% end %>

    <%= link_to admin_posts_deletion_requests_path,
        class: "list-group-item list-group-item-action #{controller_name == 'posts_deletion_requests' ? 'active' : ''}" do %>
      句の削除申請管理
    <% end %>

    <%= link_to admin_themes_deletion_requests_path,
        class: "list-group-item list-group-item-action #{controller_name == 'themes_deletion_requests' ? 'active' : ''}" do %>
      お題の削除申請管理
    <% end %>

    <%= link_to admin_posts_reports_path,
        class: "list-group-item list-group-item-action #{controller_name == 'posts_reports' ? 'active' : ''}" do %>
      句の報告管理
    <% end %>

    <%= link_to admin_themes_reports_path,
        class: "list-group-item list-group-item-action #{controller_name == 'themes_reports' ? 'active' : ''}" do %>
      お題の報告管理
    <% end %>

    <%= link_to admin_announcements_path,
        class: "list-group-item list-group-item-action #{controller_name == 'announcements' ? 'active' : ''}" do %>
      お知らせ管理
    <% end %>
  </div>
</div>