<!DOCTYPE html>
<html>
  <head>
    <title>ひとひ十七</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield :page_javascript %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_messages' %>

    <main class="flex-grow-1">
      <div class="container py-4">
        <% if content_for?(:with_direction_toggle) %>
          <div data-text-direction-target="content">
            <%= yield %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </main>

    <%= render 'shared/floating_controls' %>

    <footer class="footer mt-auto">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>