<!DOCTYPE html>
<html>
  <head>
    <title>ひとひ十七</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield :page_javascript %>
  </head>

  <body>
    <div class="page-wrapper" data-controller="text-direction">
      <header class="header">
        <div class="header-container">
          <div class="header-left">
            <%= link_to 'ホーム', root_path, class: 'button' %>
            <% if logged_in? %>
              <%= link_to '句一覧', posts_path, class: 'button' %>
              <%= link_to 'お題一覧', themes_path, class: 'button' %>
            <% end %>
          </div>

          <div class="header-right">
            <% if logged_in? %>
              <%= link_to profile_path, class: 'text-decoration-none text-dark' do %>
                <span class="fw-medium"><%= current_user.name %></span>
              <% end %>
              <%= link_to '句を詠む', new_image_post_path, class: 'button button-success ms-3' %>
            <% else %>
              <%= link_to 'ログイン', login_path, class: 'button' %>
              <%= link_to '新規登録', signup_path, class: 'button' %>
            <% end %>
          </div>
        </div>
      </header>

      <% if flash.any? %>
        <div class="alert-wrapper">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> text-center">
              <%= value %>
            </div>
          <% end %>
        </div>
      <% end %>

      <main class="main-content-wrapper">
        <% if content_for?(:with_direction_toggle) %>
          <div class="container">
            <div class="direction-toggle-container text-end">
              <button type="button"
                      data-text-direction-target="toggle"
                      data-action="click->text-direction#toggle"
                      class="btn btn-outline-secondary">
                縦書き/横書き切り替え
              </button>
            </div>
            <div class="writing-mode-container">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <div class="container">
            <%= yield %>
          </div>
        <% end %>
      </main>
    </div>
  </body>
</html>